In [2]:
## import libraries
import pandas as pd

In [3]:
oly_s = pd.read_csv("data/summer.csv")

In [4]:
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [5]:
oly_w = pd.read_csv("data/winter.csv")

In [6]:
oly_w.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [7]:
oly_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [8]:
oly_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        5770 non-null   int64
 1   City        5770 non-null   object
 2   Sport       5770 non-null   object
 3   Discipline  5770 non-null   object
 4   Athlete     5770 non-null   object
 5   Country     5770 non-null   object
 6   Gender      5770 non-null   object
 7   Event       5770 non-null   object
 8   Medal       5770 non-null   object
dtypes: int64(1), object(8)
memory usage: 405.8+ KB

In [9]:
## A single column of data in a dataframe is known as a series
## METHOD 1 to return a series
## df.column_name also returns a Pandas series
oly_w.Year

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [10]:
## METHOD 2 to return a series
## df columnname also returns, making it a list so brackets
oly_w["Year"]

0       1924
1       1924
2       1924
3       1924
4       1924
        ...
5765    2014
5766    2014
5767    2014
5768    2014
5769    2014
Name: Year, Length: 5770, dtype: int64

In [11]:
## preferred method is 2, because if multiple words itll break with Method 1
## if you pass multiple headers it will return a frame with just those bad boys
## df[["column1", "column2"]] returns a df

df = oly_w[["Year","City"]] 
df.sample(10)

      Year            City
4075  2002  Salt Lake City
4205  2006           Turin
5412  2014           Sochi
1847  1980     Lake Placid
1166  1964       Innsbruck
3255  1998          Nagano
1086  1964       Innsbruck
533   1948       St.Moritz
930   1960    Squaw Valley
3618  2002  Salt Lake City

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    5770 non-null   int64
 1   City    5770 non-null   object
dtypes: int64(1), object(1)
memory usage: 90.3+ KB

In [13]:
#Sorting
#df_name.sort_values(by=["Value 1", "Value 2"]), ascending=True for A-Z or smaller numbers to bigger numbers
#ascending = False for Z-A or bigger to smaller

In [14]:
## sort by values (city and year) 
city_yr_sort = df.sort_values(by=["Year", "City"], ascending = True) 
city_yr_sort

      Year      City
0     1924  Chamonix
1     1924  Chamonix
2     1924  Chamonix
3     1924  Chamonix
4     1924  Chamonix
...    ...       ...
5765  2014     Sochi
5766  2014     Sochi
5767  2014     Sochi
5768  2014     Sochi
5769  2014     Sochi

[5770 rows x 2 columns]

In [15]:
## sort by city and year but descending 
city_yr_sort = df.sort_values(by=["City","Year"], ascending = False)
city_yr_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

In [16]:
## what if we wanna know total gold medals for any country?
## but if we combine them, how to we easily distinguish between summer and winter 
## in oly_s, add "season" column with the value "summer"

oly_s["Season"] = "Summer" 
oly_s.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer

In [17]:
oly_w["Season"] = "Winter"
oly_w.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter

In [18]:
oly_s

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer
...,...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze,Summer
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold,Summer
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver,Summer
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze,Summer
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze,Summer

In [19]:
oly_w

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,Winter
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold,Winter
...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter

In [20]:
list(oly_w.columns) == list(oly_s.columns)

True

In [21]:
join_list = [oly_s, oly_w]
oly = pd.concat(join_list, sort = True)
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [22]:
## confirm that you have correct number of rows
## you can scrolls up to count the number of entires in olys
## totals should be equal to values generated below

oly.shape[0] == oly_w.shape[0] + oly_s.shape[0]

True

In [23]:
type(oly_w.shape)

tuple

In [24]:
oly_w.shape[0]

5770

In [25]:
oly_w.shape

(5770, 10)

In [37]:
##exporting to csv
oly.to_csv("olympics.csv", encoding = "UTF-8", index = False)

In [27]:
## Create a subset that holds the results from the Sochi Olympics
##df[df["column_name"] == "value_in_column"]
df_sochi = oly[oly["City"] == "Sochi"] 
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [28]:
# How many values in a column?
#df_name["column_name"].value_counts() 
# How many men and women won medals at Sochi?
df_sochi["Gender"].value_counts()

Men      340
Women    272
Name: Gender, dtype: int64

In [29]:
oly["Medal"].value_counts()

Gold      12407
Bronze    12288
Silver    12240
Name: Medal, dtype: int64

In [31]:
## Sorting by values (City & Year) 
##df_name.sort_values(by=["Value 1","Value 2"], ascending = True) for A-Z or smaller to bigger

city_yr_sort = df.sort_values(by=["City","Year"], ascending = True) 
city_yr_sort

      Year         City
2502  1992  Albertville
2503  1992  Albertville
2504  1992  Albertville
2505  1992  Albertville
2506  1992  Albertville
...    ...          ...
5153  2010    Vancouver
5154  2010    Vancouver
5155  2010    Vancouver
5156  2010    Vancouver
5157  2010    Vancouver

[5770 rows x 2 columns]

In [33]:
## sort descending now

city_yr_sort = df.sort_values(by=["City", "Year"], ascending = False) 
city_yr_sort

      Year         City
4629  2010    Vancouver
4630  2010    Vancouver
4631  2010    Vancouver
4632  2010    Vancouver
4633  2010    Vancouver
...    ...          ...
2822  1992  Albertville
2823  1992  Albertville
2824  1992  Albertville
2825  1992  Albertville
2826  1992  Albertville

[5770 rows x 2 columns]

oly_w

In [34]:
oly_w.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal', 'Season'],
      dtype='object')

In [35]:
oly.shape

(36935, 10)

In [36]:
oly

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Men,Gold,Summer,Aquatics,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Men,Silver,Summer,Aquatics,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Bronze,Summer,Aquatics,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Gold,Summer,Aquatics,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Men,Silver,Summer,Aquatics,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [38]:
oly.to_csv("data/olympics.csv", encoding = "UTF-8", index = False)

In [39]:
## Improving memory allocation
# if we were working with a massive dataset, we'd want to find ways to improve processing power
# for example, the following columns have a few values that repeat again and again as strings. this is highly inefficient

#season column has winter and summer
#medal column has gold, silver and bronze
#gender at this point in the olympics only has male and female

#one way to improve memory allocation is to take columns with that contain only a few data points and turn them into categories

In [40]:
## you should see how season, medal and gender are all string objects
#note that memory usage: 3.1+MB

oly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36935 entries, 0 to 5769
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Athlete     36935 non-null  object
 1   City        36935 non-null  object
 2   Country     36931 non-null  object
 3   Discipline  36935 non-null  object
 4   Event       36935 non-null  object
 5   Gender      36935 non-null  object
 6   Medal       36935 non-null  object
 7   Season      36935 non-null  object
 8   Sport       36935 non-null  object
 9   Year        36935 non-null  int64
dtypes: int64(1), object(9)
memory usage: 3.1+ MB

In [41]:
#convert gender, medal and season to category
#changing the type of python object it is

oly[["Gender","Medal","Season"]] = oly[["Gender","Medal","Season"]].astype("category")

In [42]:
#see what the memory allocation is now using info()

oly.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36935 entries, 0 to 5769
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Athlete     36935 non-null  object
 1   City        36935 non-null  object
 2   Country     36931 non-null  object
 3   Discipline  36935 non-null  object
 4   Event       36935 non-null  object
 5   Gender      36935 non-null  category
 6   Medal       36935 non-null  category
 7   Season      36935 non-null  category
 8   Sport       36935 non-null  object
 9   Year        36935 non-null  int64
dtypes: category(3), int64(1), object(6)
memory usage: 2.4+ MB

In [43]:
#subsets
#df[df["column name"] == "value_in_column"] 

#Sochi subset
oly[oly["City"] == "Sochi"].sample(20)

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5712,"KIRCHEISEN, Bjoern",Sochi,GER,Nordic Combined,"Team, 4X5 KM",Men,Silver,Winter,Skiing,2014
5719,"KASAI, Noriaki",Sochi,JPN,Ski Jumping,Large Hill,Men,Silver,Winter,Skiing,2014
5405,"LAMOUREUX, Jocelyne",Sochi,USA,Ice Hockey,Ice Hockey,Women,Silver,Winter,Ice Hockey,2014
5732,"WELLINGER, Andreas",Sochi,GER,Ski Jumping,Teams,Men,Gold,Winter,Skiing,2014
5410,"PUCCI, Josephine",Sochi,USA,Ice Hockey,Ice Hockey,Women,Silver,Winter,Ice Hockey,2014
5271,"MUIRHEAD, Eve",Sochi,GBR,Curling,Curling,Women,Bronze,Winter,Curling,2014
5626,"CHERNOUSOV, Ilia",Sochi,RUS,Cross Country Skiing,50KM,Men,Bronze,Winter,Skiing,2014
5651,"BOEHLER, Stefanie",Sochi,GER,Cross Country Skiing,4X5KM Relay,Women,Bronze,Winter,Skiing,2014
5386,"MULLER, Alina",Sochi,SUI,Ice Hockey,Ice Hockey,Women,Bronze,Winter,Ice Hockey,2014
5764,"RUKAJARVI, Enni",Sochi,FIN,Snowboard,Slopestyle,Women,Silver,Winter,Skiing,2014
5187,"SVENDSEN, Emil Hegle",Sochi,NOR,Biathlon,Relay Mix,Men,Gold,Winter,Biathlon,2014
5383,"LUTZ, Jessica",Sochi,SUI,Ice Hockey,Ice Hockey,Women,Bronze,Winter,Ice Hockey,2014
5293,"PIETRANGELO, Alex",Sochi,CAN,Ice Hockey,Ice Hockey,Men,Gold,Winter,Ice Hockey,2014
5572,"BACHLEDA-CURUS, Katarzyna",Sochi,POL,Speed skating,Team Pursuit,Women,Silver,Winter,Skating,2014
5659,"BJOERGEN, Marit",Sochi,NOR,Cross Country Skiing,Combined7.5+7.5,Women,Gold,Winter,Skiing,2014
5370,"WAKEFIELD, Jennifer",Sochi,CAN,Ice Hockey,Ice Hockey,Women,Gold,Winter,Ice Hockey,2014
5755,"TAKEUCHI, Tomoka",Sochi,JPN,Snowboard,Giant Parall.S.,Women,Silver,Winter,Skiing,2014
5442,"WHITE, Charlie",Sochi,USA,Figure skating,Ice Dancing,Men,Gold,Winter,Skating,2014
5557,"van BEEK, Lotte",Sochi,NED,Speed skating,1500M,Women,Bronze,Winter,Skating,2014
5277,"WENNERSTROEM, Maria",Sochi,SWE,Curling,Curling,Women,Silver,Winter,Curling,2014

In [45]:
#store that dataframe!

df_sochi = oly[oly["City"] == "Sochi"]
df_sochi

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
5158,"LANDERTINGER, Dominik",Sochi,AUT,Biathlon,10KM,Men,Silver,Winter,Biathlon,2014
5159,"SOUKUP, Jaroslav",Sochi,CZE,Biathlon,10KM,Men,Bronze,Winter,Biathlon,2014
5160,"BJOERNDALEN, Ole Einar",Sochi,NOR,Biathlon,10KM,Men,Gold,Winter,Biathlon,2014
5161,"MORAVEC, Ondrej",Sochi,CZE,Biathlon,12.5Km Pursuit,Men,Silver,Winter,Biathlon,2014
5162,"BEATRIX, Jean Guillaume",Sochi,FRA,Biathlon,12.5Km Pursuit,Men,Bronze,Winter,Biathlon,2014
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Skiing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Skiing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Skiing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Skiing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Skiing,2014

In [46]:
df_atl = oly[oly["City"] == "Atlanta"]
df_atl

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
21302,"XIAO, Hailiang",Atlanta,CHN,Diving,10M Platform,Men,Bronze,Summer,Aquatics,1996
21303,"SAUTIN, Dmitry",Atlanta,RUS,Diving,10M Platform,Men,Gold,Summer,Aquatics,1996
21304,"HEMPEL, Jan",Atlanta,GER,Diving,10M Platform,Men,Silver,Summer,Aquatics,1996
21305,"CLARK, Mary Ellen",Atlanta,USA,Diving,10M Platform,Women,Bronze,Summer,Aquatics,1996
21306,"FU, Mingxia",Atlanta,CHN,Diving,10M Platform,Women,Gold,Summer,Aquatics,1996
...,...,...,...,...,...,...,...,...,...,...
23156,"OLEYNYK, Vyacheslav",Atlanta,UKR,Wrestling Gre-R,82 - 90KG (Light-Heavyweight),Men,Gold,Summer,Wrestling,1996
23157,"FAFINSKI, Jacek",Atlanta,POL,Wrestling Gre-R,82 - 90KG (Light-Heavyweight),Men,Silver,Summer,Wrestling,1996
23158,"LJUNGBERG, Mikael",Atlanta,SWE,Wrestling Gre-R,90 - 100KG (Heavyweight),Men,Bronze,Summer,Wrestling,1996
23159,"WRONSKI, Andrzej",Atlanta,POL,Wrestling Gre-R,90 - 100KG (Heavyweight),Men,Gold,Summer,Wrestling,1996
23160,"LISHTVAN, Sergey",Atlanta,BLR,Wrestling Gre-R,90 - 100KG (Heavyweight),Men,Silver,Summer,Wrestling,1996

In [48]:
#Values in a column
#df_name["column_name"].value_counts()

#so how many men and women won medals at Sochi?
#sochi_df.Gender.value_counts()

df_sochi["Gender"].value_counts()

Men      340
Women    272
Name: Gender, dtype: int64

In [49]:
#Filtering by dates
#You'll learn more about date and time in the coming week. For now, please note how the Year column is a int64 object
#and NOT a datetime object. We can still work with it for our needs.

In [51]:
#Find all the 1900 competitions
oly[oly["Year"] == 1900]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
151,"HALMAY, Zoltan",Paris,HUN,Swimming,1500M Freestyle,Men,Bronze,Summer,Aquatics,1900
152,"JARVIS, John Arthur",Paris,GBR,Swimming,1500M Freestyle,Men,Gold,Summer,Aquatics,1900
153,"WAHLE, Otto",Paris,AUT,Swimming,1500M Freestyle,Men,Silver,Summer,Aquatics,1900
154,"DROST, Johannes",Paris,NED,Swimming,200M Backstroke,Men,Bronze,Summer,Aquatics,1900
155,"HOPPENBERG, Ernst",Paris,GER,Swimming,200M Backstroke,Men,Gold,Summer,Aquatics,1900
...,...,...,...,...,...,...,...,...,...,...
658,"COLLAS, Jean",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
659,"GONDOUIN, Charles",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
660,"HENRIQUEZ DE ZUBIERRA, Constantin",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
661,"ROFFO, Joseph",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900
662,"SARRADE, Emile",Paris,FRA,Tug of War,Tug Of War,Men,Silver,Summer,Tug of War,1900

In [52]:
## return all competitions between 1920 and 1950 (inclusive)

##METHOD 1
oly[(oly["Year"] >= 1920) & (oly["Year"] <= 1950)]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
2822,"PRIESTE, Harry",Antwerp,USA,Diving,10M Platform,Men,Bronze,Summer,Aquatics,1920
2823,"PINKSTON, Clarence",Antwerp,USA,Diving,10M Platform,Men,Gold,Summer,Aquatics,1920
2824,"ADLERZ, Erik",Antwerp,SWE,Diving,10M Platform,Men,Silver,Summer,Aquatics,1920
2825,"OLLIVIER, Eva",Antwerp,SWE,Diving,10M Platform,Women,Bronze,Summer,Aquatics,1920
2826,"FRYLAND CLAUSEN, Stefani",Antwerp,DEN,Diving,10M Platform,Women,Gold,Summer,Aquatics,1920
...,...,...,...,...,...,...,...,...,...,...
566,"HASU, Heikki",St.Moritz,FIN,Nordic Combined,Individual,Men,Gold,Winter,Skiing,1948
567,"HUHTALA, Martti",St.Moritz,FIN,Nordic Combined,Individual,Men,Silver,Winter,Skiing,1948
568,"SCHJELDERUP, Thorleif",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Bronze,Winter,Skiing,1948
569,"HUGSTED, Petter",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Gold,Winter,Skiing,1948
570,"RUUD, Birger",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Silver,Winter,Skiing,1948

In [53]:
# return the 1920 through 1950 competitions

#METHOD 2

#Declare your filters

my_filter_1 = oly["Year"] >= 1920
my_filter_2 = oly["Year"] <= 1950

##Filter

oly[my_filter_1 & my_filter_2]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
2822,"PRIESTE, Harry",Antwerp,USA,Diving,10M Platform,Men,Bronze,Summer,Aquatics,1920
2823,"PINKSTON, Clarence",Antwerp,USA,Diving,10M Platform,Men,Gold,Summer,Aquatics,1920
2824,"ADLERZ, Erik",Antwerp,SWE,Diving,10M Platform,Men,Silver,Summer,Aquatics,1920
2825,"OLLIVIER, Eva",Antwerp,SWE,Diving,10M Platform,Women,Bronze,Summer,Aquatics,1920
2826,"FRYLAND CLAUSEN, Stefani",Antwerp,DEN,Diving,10M Platform,Women,Gold,Summer,Aquatics,1920
...,...,...,...,...,...,...,...,...,...,...
566,"HASU, Heikki",St.Moritz,FIN,Nordic Combined,Individual,Men,Gold,Winter,Skiing,1948
567,"HUHTALA, Martti",St.Moritz,FIN,Nordic Combined,Individual,Men,Silver,Winter,Skiing,1948
568,"SCHJELDERUP, Thorleif",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Bronze,Winter,Skiing,1948
569,"HUGSTED, Petter",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Gold,Winter,Skiing,1948
570,"RUUD, Birger",St.Moritz,NOR,Ski Jumping,K90 Individual (70M),Men,Silver,Winter,Skiing,1948

In [54]:
## return only Tennis competitions between 1920 and 1950 (inclusive) 
#METHOD 2

#declare your filters

my_filter_1 = oly["Year"] >= 1920
my_filter_2 = oly["Year"] <= 1950
my_filter_3 = oly["Sport"] == "Tennis"

## Filter

oly[my_filter_1 & my_filter_2 & my_filter_3]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
4026,"ALBARRAN, Pierre",Antwerp,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1920
4027,"DECUGIS, Max",Antwerp,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1920
4028,"TURNBULL, Oswald Graham Noel",Antwerp,GBR,Tennis,Doubles,Men,Gold,Summer,Tennis,1920
4029,"WOOSNAM, Maxwell",Antwerp,GBR,Tennis,Doubles,Men,Gold,Summer,Tennis,1920
4030,"KASHIO, Seiichiro",Antwerp,JPN,Tennis,Doubles,Men,Silver,Summer,Tennis,1920
4031,"KUMAGAE, Ichiya",Antwerp,JPN,Tennis,Doubles,Men,Silver,Summer,Tennis,1920
4032,"D'AYEN, Elisabeth",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4033,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4034,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4035,"MCNAIR, Winifred Margaret",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4036,"BEAMISH, Winifred Geraldine",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4037,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4038,"ZEMLA, Ladislav",Antwerp,TCH,Tennis,Mixed Doubles,Men,Bronze,Summer,Tennis,1920
4039,"DECUGIS, Max",Antwerp,FRA,Tennis,Mixed Doubles,Men,Gold,Summer,Tennis,1920
4040,"WOOSNAM, Maxwell",Antwerp,GBR,Tennis,Mixed Doubles,Men,Silver,Summer,Tennis,1920
4041,"SKRBKOVA, Milada",Antwerp,TCH,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1920
4042,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1920
4043,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1920
4044,"WINSLOW, Charles Lyndhurst",Antwerp,RSA,Tennis,Singles,Men,Bronze,Summer,Tennis,1920
4045,"RAYMOND, Louis",Antwerp,RSA,Tennis,Singles,Men,Gold,Summer,Tennis,1920
4046,"KUMAGAE, Ichiya",Antwerp,JPN,Tennis,Singles,Men,Silver,Summer,Tennis,1920
4047,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1920
4048,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Singles,Women,Gold,Summer,Tennis,1920
4049,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Singles,Women,Silver,Summer,Tennis,1920
4926,"BOROTRA, Jean R.",Paris,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1924
4927,"LACOSTE, Jean René",Paris,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1924
4928,"HUNTER, Francis Townsend",Paris,USA,Tennis,Doubles,Men,Gold,Summer,Tennis,1924
4929,"RICHARDS, Vincent",Paris,USA,Tennis,Doubles,Men,Gold,Summer,Tennis,1924
4930,"BRUGNON, Jacques",Paris,FRA,Tennis,Doubles,Men,Silver,Summer,Tennis,1924
4931,"COCHET, Henri",Paris,FRA,Tennis,Doubles,Men,Silver,Summer,Tennis,1924
4932,"COLYER, Evelyn Lucy",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4933,"SHEPHERD BARRON, Dorothy Cunliffe",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4934,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4935,"WILLS-MOODY, Helen",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4936,"COVELL, Phyllis Lindrea",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4937,"MAC KANE, Kathleen",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4938,"TIMMER, Hendrik",Paris,NED,Tennis,Mixed Doubles,Men,Bronze,Summer,Tennis,1924
4939,"WILLIAMS, Richard Norris III",Paris,USA,Tennis,Mixed Doubles,Men,Gold,Summer,Tennis,1924
4940,"RICHARDS, Vincent",Paris,USA,Tennis,Mixed Doubles,Men,Silver,Summer,Tennis,1924
4941,"BOUMAN, Cornelia",Paris,NED,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1924
4942,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1924
4943,"JESSUP, Marion",Paris,USA,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1924
4944,"DE MORPURGO, Umberto",Paris,ITA,Tennis,Singles,Men,Bronze,Summer,Tennis,1924
4945,"RICHARDS, Vincent",Paris,USA,Tennis,Singles,Men,Gold,Summer,Tennis,1924
4946,"COCHET, Henri",Paris,FRA,Tennis,Singles,Men,Silver,Summer,Tennis,1924
4947,"MAC KANE, Kathleen",Paris,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1924
4948,"WILLS-MOODY, Helen",Paris,USA,Tennis,Singles,Women,Gold,Summer,Tennis,1924
4949,"VLASTO, Julie P.",Paris,FRA,Tennis,Singles,Women,Silver,Summer,Tennis,1924

In [55]:
#method 3

#declare filters with meaningful names
f_yr1920 = oly["Year"] >= 1920
f_yr1950 = oly["Year"] <= 1950
f_tennis = oly["Sport"] == "Tennis"

#Filter

oly[f_yr1920 & f_yr1950 & f_tennis]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
4026,"ALBARRAN, Pierre",Antwerp,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1920
4027,"DECUGIS, Max",Antwerp,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1920
4028,"TURNBULL, Oswald Graham Noel",Antwerp,GBR,Tennis,Doubles,Men,Gold,Summer,Tennis,1920
4029,"WOOSNAM, Maxwell",Antwerp,GBR,Tennis,Doubles,Men,Gold,Summer,Tennis,1920
4030,"KASHIO, Seiichiro",Antwerp,JPN,Tennis,Doubles,Men,Silver,Summer,Tennis,1920
4031,"KUMAGAE, Ichiya",Antwerp,JPN,Tennis,Doubles,Men,Silver,Summer,Tennis,1920
4032,"D'AYEN, Elisabeth",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4033,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Doubles,Women,Bronze,Summer,Tennis,1920
4034,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4035,"MCNAIR, Winifred Margaret",Antwerp,GBR,Tennis,Doubles,Women,Gold,Summer,Tennis,1920
4036,"BEAMISH, Winifred Geraldine",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4037,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1920
4038,"ZEMLA, Ladislav",Antwerp,TCH,Tennis,Mixed Doubles,Men,Bronze,Summer,Tennis,1920
4039,"DECUGIS, Max",Antwerp,FRA,Tennis,Mixed Doubles,Men,Gold,Summer,Tennis,1920
4040,"WOOSNAM, Maxwell",Antwerp,GBR,Tennis,Mixed Doubles,Men,Silver,Summer,Tennis,1920
4041,"SKRBKOVA, Milada",Antwerp,TCH,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1920
4042,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1920
4043,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1920
4044,"WINSLOW, Charles Lyndhurst",Antwerp,RSA,Tennis,Singles,Men,Bronze,Summer,Tennis,1920
4045,"RAYMOND, Louis",Antwerp,RSA,Tennis,Singles,Men,Gold,Summer,Tennis,1920
4046,"KUMAGAE, Ichiya",Antwerp,JPN,Tennis,Singles,Men,Silver,Summer,Tennis,1920
4047,"MCKANE, Kathleen",Antwerp,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1920
4048,"LENGLEN, Suzanne",Antwerp,FRA,Tennis,Singles,Women,Gold,Summer,Tennis,1920
4049,"HOLMAN, Edith Dorothy",Antwerp,GBR,Tennis,Singles,Women,Silver,Summer,Tennis,1920
4926,"BOROTRA, Jean R.",Paris,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1924
4927,"LACOSTE, Jean René",Paris,FRA,Tennis,Doubles,Men,Bronze,Summer,Tennis,1924
4928,"HUNTER, Francis Townsend",Paris,USA,Tennis,Doubles,Men,Gold,Summer,Tennis,1924
4929,"RICHARDS, Vincent",Paris,USA,Tennis,Doubles,Men,Gold,Summer,Tennis,1924
4930,"BRUGNON, Jacques",Paris,FRA,Tennis,Doubles,Men,Silver,Summer,Tennis,1924
4931,"COCHET, Henri",Paris,FRA,Tennis,Doubles,Men,Silver,Summer,Tennis,1924
4932,"COLYER, Evelyn Lucy",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4933,"SHEPHERD BARRON, Dorothy Cunliffe",Paris,GBR,Tennis,Doubles,Women,Bronze,Summer,Tennis,1924
4934,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4935,"WILLS-MOODY, Helen",Paris,USA,Tennis,Doubles,Women,Gold,Summer,Tennis,1924
4936,"COVELL, Phyllis Lindrea",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4937,"MAC KANE, Kathleen",Paris,GBR,Tennis,Doubles,Women,Silver,Summer,Tennis,1924
4938,"TIMMER, Hendrik",Paris,NED,Tennis,Mixed Doubles,Men,Bronze,Summer,Tennis,1924
4939,"WILLIAMS, Richard Norris III",Paris,USA,Tennis,Mixed Doubles,Men,Gold,Summer,Tennis,1924
4940,"RICHARDS, Vincent",Paris,USA,Tennis,Mixed Doubles,Men,Silver,Summer,Tennis,1924
4941,"BOUMAN, Cornelia",Paris,NED,Tennis,Mixed Doubles,Women,Bronze,Summer,Tennis,1924
4942,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1924
4943,"JESSUP, Marion",Paris,USA,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1924
4944,"DE MORPURGO, Umberto",Paris,ITA,Tennis,Singles,Men,Bronze,Summer,Tennis,1924
4945,"RICHARDS, Vincent",Paris,USA,Tennis,Singles,Men,Gold,Summer,Tennis,1924
4946,"COCHET, Henri",Paris,FRA,Tennis,Singles,Men,Silver,Summer,Tennis,1924
4947,"MAC KANE, Kathleen",Paris,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1924
4948,"WILLS-MOODY, Helen",Paris,USA,Tennis,Singles,Women,Gold,Summer,Tennis,1924
4949,"VLASTO, Julie P.",Paris,FRA,Tennis,Singles,Women,Silver,Summer,Tennis,1924

In [57]:
##return just women's tennis competitions between 1920 and 1950

f_yr1920 = oly["Year"] >= 1920
f_yr1950 = oly["Year"] <= 1950
f_tennis = oly["Sport"] == "Tennis"
f_women = oly["Gender"] == "Women"

oly_tennis = oly[f_yr1920 & f_yr1950 & f_tennis & f_women]
oly_tennis.tail()

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
4942,"WIGHTMAN, Hazel Virginia",Paris,USA,Tennis,Mixed Doubles,Women,Gold,Summer,Tennis,1924
4943,"JESSUP, Marion",Paris,USA,Tennis,Mixed Doubles,Women,Silver,Summer,Tennis,1924
4947,"MAC KANE, Kathleen",Paris,GBR,Tennis,Singles,Women,Bronze,Summer,Tennis,1924
4948,"WILLS-MOODY, Helen",Paris,USA,Tennis,Singles,Women,Gold,Summer,Tennis,1924
4949,"VLASTO, Julie P.",Paris,FRA,Tennis,Singles,Women,Silver,Summer,Tennis,1924

In [60]:
# What year was women's boxing introduced to the olympics?

#Find all the names of sports first.
#how is boxing listed?
oly["Sport"].unique()

array(['Aquatics', 'Athletics', 'Cycling', 'Fencing', 'Gymnastics',
       'Shooting', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery',
       'Basque Pelota', 'Cricket', 'Croquet', 'Equestrian', 'Football',
       'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug of War',
       'Boxing', 'Lacrosse', 'Roque', 'Hockey', 'Jeu de paume', 'Rackets',
       'Skating', 'Water Motorsports', 'Modern Pentathlon', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak', 'Handball', 'Judo', 'Volleyball',
       'Table Tennis', 'Badminton', 'Baseball', 'Softball', 'Taekwondo',
       'Triathlon', 'Canoe', 'Biathlon', 'Bobsleigh', 'Curling', 'Skiing',
       'Luge'], dtype=object)

In [64]:
# create a filter for boxing and women

f_boxing = oly["Sport"] == "Boxing"
fil_women = oly["Gender"] == "Women"
#Filter
oly[f_boxing & fil_women]

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
0,"HAJOS, Alfred",Athens,HUN,Swimming,100M Freestyle,Women,Gold,Summer,Boxing,1896
1,"HERSCHMANN, Otto",Athens,AUT,Swimming,100M Freestyle,Women,Silver,Summer,Boxing,1896
2,"DRIVAS, Dimitrios",Athens,GRE,Swimming,100M Freestyle For Sailors,Women,Bronze,Summer,Boxing,1896
3,"MALOKINIS, Ioannis",Athens,GRE,Swimming,100M Freestyle For Sailors,Women,Gold,Summer,Boxing,1896
4,"CHASAPIS, Spiridon",Athens,GRE,Swimming,100M Freestyle For Sailors,Women,Silver,Summer,Boxing,1896
...,...,...,...,...,...,...,...,...,...,...
5765,"JONES, Jenny",Sochi,GBR,Snowboard,Slopestyle,Women,Bronze,Winter,Boxing,2014
5766,"ANDERSON, Jamie",Sochi,USA,Snowboard,Slopestyle,Women,Gold,Winter,Boxing,2014
5767,"MALTAIS, Dominique",Sochi,CAN,Snowboard,Snowboard Cross,Women,Silver,Winter,Boxing,2014
5768,"SAMKOVA, Eva",Sochi,CZE,Snowboard,Snowboard Cross,Women,Gold,Winter,Boxing,2014
5769,"TRESPEUCH, Chloe",Sochi,FRA,Snowboard,Snowboard Cross,Women,Bronze,Winter,Boxing,2014

In [65]:
#what is total medal count for winter v. summer?
#show the result in descending order

oly["Season"].value_counts()

Summer    31165
Winter     5770
Name: Season, dtype: int64

In [70]:
#what about at each olympics, highest to lowest
#show the result in descending order?

oly["Year"].value_counts(ascending = True)

1896     151
1994     343
1998     447
1904     470
2002     481
1900     512
2010     529
2006     531
2014     612
1932     731
1928     799
1908     804
1912     885
1948     954
1936     983
1924    1002
1952    1025
1960    1029
1956    1035
1964    1195
1968    1230
1920    1298
1972    1385
1976    1515
1980    1605
1984    1681
1988    1810
1996    1859
2012    1949
2004    1998
2000    2015
1992    2030
2008    2042
Name: Year, dtype: int64

In [77]:
#what are the top 5 sports that France has won the most Gold in?

fil_fra = oly["Country"] == "FRA"
fil_gold = oly["Medal"] == "Gold"

france_gold = oly[fil_fra & fil_gold]
france_gold

,Athlete,City,Country,Discipline,Event,Gender,Medal,Season,Sport,Year
51,"FLAMENG, Léon",Athens,FRA,Cycling Track,100KM,Women,Gold,Summer,Boxing,1896
54,"MASSON, Paul",Athens,FRA,Cycling Track,10KM,Women,Gold,Summer,Boxing,1896
59,"MASSON, Paul",Athens,FRA,Cycling Track,1KM Time Trial,Women,Gold,Summer,Boxing,1896
62,"MASSON, Paul",Athens,FRA,Cycling Track,Sprint Indivual,Women,Gold,Summer,Boxing,1896
65,"GRAVELOTTE, Eugène-Henri",Athens,FRA,Fencing,Foil Individual,Women,Gold,Summer,Boxing,1896
...,...,...,...,...,...,...,...,...,...,...
5105,"LAMY CHAPPUIS, Jason",Vancouver,FRA,Nordic Combined,"Individual, Ski Jumping K90 (70M)",Women,Gold,Winter,Boxing,2010
5163,"FOURCADE, Martin",Sochi,FRA,Biathlon,12.5Km Pursuit,Women,Gold,Winter,Boxing,2014
5167,"FOURCADE, Martin",Sochi,FRA,Biathlon,20KM,Women,Gold,Winter,Boxing,2014
5678,"CHAPUIS, Jean Frederic",Sochi,FRA,Freestyle Skiing,Ski Cross,Women,Gold,Winter,Boxing,2014
5752,"VAULTIER, Pierre",Sochi,FRA,Snowboard,Snowboard Cross,Women,Gold,Winter,Boxing,2014

In [81]:
france_gold["Event"].value_counts().head()

Foil Team    45
Épée Team    43
Handball     30
Football     17
Rugby        17
Name: Event, dtype: int64